<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
        <title>Home</title>
    </head>
    <body>
        <main onclick="focusInput()">
            <div class="row">
                <input id="keyButton" placeholder="Press a key . . ." autofocus readonly/>
            </div>
            <div class="row">
                <div class="box" onmouseenter="hoverBox(this)" onmouseleave="hoverOff()">
                    <p>
                        Ascii
                        <span id="ascii">?</span>
                    </p>
                </div>
                <div class="box" onmouseenter="hoverBox(this)" onmouseleave="hoverOff()">
                    <p>
                        Key Code
                        <span id="keyCode">?</span>
                    </p>
                </div>
                <div class="box">
                    <p>
                        Code
                        <span id="code">?</span>
                    </p>
                </div>
            </div>
            <div id="number" class="row">
                <div class="box">
                    <p>hi</p>
                </div>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>