body {
    padding: 0;
    margin: 0;
    background-color: #313131;
}

main {
    height: 100vh;
    min-height: 100%;
    flex-direction: column;
}

main, .row, .box p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyButton {
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color: #CA3E47;
    background-color: transparent;
    caret-color: transparent;
    border: none;
    cursor: default;
}

#keyButton:focus  {
    border: none;
    outline: none;
}

.box {
    background-color: #414141;
    color: #CA3E47;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10px;
}

.box p {
    flex-direction: column;
    padding: 20px;
    margin: 0;
}